div.background_img {
  background-image: url("./asdasd.jpg");
  background-repeat: no-repeat;
  width: 800px;
  height: 800px;
  background-size: cover;
}

#overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(51, 15, 85);
  opacity: 0.3;
}

.gradient {
    width: 100%;
    height: 800px;
    background-color: ;
}